* {
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0px;
}

body{
	margin-top: 20px;
}

section {
	float: left;
	width: 33%
}

p {
	margin: 10px;
}

h1 {
	text-align: center;
	font-size: 1.75em;
}

h2 {
	font-size: 1.25em;
	font-style: bold;
}

.title-container {
	text-align: right;
}

.inner-container {
	border: 1px solid black;
	background-color: pink;
	margin: 10px;
}

.section-title {
	width: 40%;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px;
	text-align: center;
	display: inline-block;
}

#title1 {
	background-color: aqua;
}

#title2 {
	background-color: yellow;
}

#title3 {
	background-color: green;
}

@media (min-width: 768px) AND (max-width: 991px) {
	.col-md-6 {
		float: left;
		width: 50%;
	}

	section {
		width: 100%;
	}
}

@media (max-width: 767px){
	section {
		width: 100%;
	}
}